@font-face {
    font-family: calligraphy;
    src: url(fonts/Calligraphy\ Sunshine.ttf);
}
@font-face {
    font-family: ampbold;
    src: url(fonts/AmpleSoftPro-Bold.ttf);
}
@font-face {
    font-family: ampmed;
    src: url(fonts/AmpleSoftPro-Medium.ttf);
}
@font-face {
    font-family: ampreg;
    src: url(fonts/AmpleSoftPro-Regular.ttf);
}
:root {
    --padleftright: 100px;
    /* typo */
    --cal: calligraphy;
    --amb: ampbold;
    --amm: ampmed;
    --amr: ampreg;
    /* color */
    --fairyp: #a163f7;
    --fairyb: #6f88fc;
    --fairycyan: #45e3ff;
    --fairywhite: #fcfcfc;
    --brown: #6b4b3e;
    --brown-trans: #6b4b3e69;
    --brown-sat: #c49e85;
    --brown-lite: #ffd6af;
    --brown-pop: #f8f4f9;
    --brown-popi: #bea7e5;
    --trans: rgba(0, 0, 0, 0.425);

}
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background-color: var(--fairywhite);
}
.wrap {
    width: 100%;
    position: relative;
    min-height: 450px;
    background-image: linear-gradient(var(--trans), var(--trans)), url(images/comfy1.jpg);
    background-position: 50% 80%;
}
.master {
    width: 100%;
    padding: 0 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.popmenu {
    display: none;
}
img[data-id = "closemenu"] {
    display: none;
}
.compass {
    width: auto;
}
.co-ordinates {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    list-style-type: none;
}
.point{
    padding: 0;
}
.point a {
    color: var(--fairywhite);
    font-family: var(--amm);
    text-decoration: none;
    font-size: 25px;
    transition: .7s;
}
.point a:hover {
    color: var(--brown-popi)
}
.master_title {
    font-size: 50px;
    font-family: var(--cal);
    width: 50%;
    text-align: center;
    color: var(--fairywhite);
    /* text-shadow: 1px 1px 5px black, */
    /* 5px 5px 3px black; */
}
.cart_con {
    margin-left: auto;
    position: relative;
    width: 40px;
    height: 30px;
    display: grid;
    place-items: center;
    visibility: hidden;
}
.cart_con img {
    width: 80%;
    height: 100%;
    cursor: pointer;
    filter: invert(100%)
    sepia(100%)
    saturate(1%)
    hue-rotate(237deg)
    brightness(2005%)
    contrast(101%)
}
.num {
    font-family: var(--amb);
    position: absolute;
    top: -50%;
    right: -40%;
    background-color: var(--brown-sat);
    height: 30px;
    width: 30px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: white;
    display: none;
}
.intro {
    padding: 20px var(--padleftright);
    font-family: var(--cal);
    color: white;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.intro_title {
    font-size: 80px;
    color: transparent;
    -webkit-text-stroke: 1px var(--brown-popi);
    background-image: url(images/arrowbg-removebg-preview.png);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: none;
    animation: bgmove 5s linear infinite forwards;
}
@keyframes bgmove {
    from {
        background-position: 0% 50%;
    }
    to {
        background-position: 100% 50%;
    }
}
.slogan {
    font-size: 30px;
}
.shop_now {
    width: 150px;
    padding: 3px;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    border: solid 1px white;
    border-radius: 5px;
    font-family: var(--cal);
    background-color: transparent;
    color: white;
    position: relative;
    transition: .7s;
}
.shop_now::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.281);
    transition: 3s;
}
.shop_now:hover {
    background-color: var(--brown);
    color: var(--brown-sat);
    border: none;
    text-shadow: 0 0 10px black;
}
.shop_now:hover::after {
    /* visibility: visible; */
    background-color: var(--brown-popi);
    animation: waterdrop 5s linear infinite alternate-reverse;
    transform: translateX(20px)
}
@keyframes waterdrop {
    0% {
        border-radius: 60% 69% 31% 40%;
        width: 40px;
    }
    50% {
        border-radius: 58% 31% 69% 42%;
        width: 10px;
    }
    100% {
        border-radius: 35% 55% 45% 65%;
        width: 25px;
    }
}
.featured, .about {
    padding: 30px var(--padleftright) 100px var(--padleftright);
}
.feat_title, .about_title {
    position: relative;
    font-family: var(--amb);
    font-size: 45px;
    width: 20%;
    text-align: center;
    margin: auto;
    color: var(--brown);
    filter: drop-shadow(-1px -1px 0 var(--brown-popi))
    drop-shadow(2px 2px 0 var(--trans));
}
.feat_title::after, .feat_title::before, .about_title::after, .about_title::before {
    content: "";
    width: 30px;
    height: 3px;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--brown-sat);
}
.feat_title::before, .about_title::before {
    left: -50px;
}
.feat_title::after, .about_title::after {
    right: -50px;
}
.prod_display{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-items: center;
    min-height: 290px;
}
.prod {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    transition:all .3s;
    cursor: pointer;
}
.prod img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.prod span {
    position: absolute;
    background-color: var(--brown);
    backdrop-filter: blur(3px) saturate(50%);
    cursor: pointer;
    background-clip: border-box;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    padding: 2px;
}
.prod span img {
    width: 80%;
    height: 80%;
}
.search {
    left: 40%;
}
.prod_cart img {
    filter: invert(100%)
    sepia(100%)
    saturate(1%)
    hue-rotate(237deg)
    brightness(2005%)
    contrast(101%)
}
.prod_cart {
    right: 40%;
}
.prod_details {
    height: 50px;
    position: absolute;
    text-align: center;
    bottom: 0;
    visibility: hidden;
    width: 100%;
    transition: .7s;
}
.prod_name {
    font-family: var(--amm);
    color: var(--brown);
}
.amount {
    font-family: var(--amr);
    color: var(--brown-sat);
    font-weight: 700;
}
.ophome {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.all_products{
    border: none;
    outline: none;
    font-family: var(--amr);
    color: var(--fairywhite);
    background-color: var(--brown-trans);
    color: var(--brown-lite);
    text-shadow: 0 0 5px black;
    border-radius: 5px;
    padding: 10px;
    border: solid var(--brown) 1px;
    cursor: pointer;
    position: relative;
}
.all_products:hover {
    background-color: var(--brown);
    color: var(--fairywhite);
}
.all_products::after, .all_products::before {
    content: "";
    width: 30px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.212);
    position: absolute;
    z-index: -1;
    transition: .7s;
}
.all_products::after {
    bottom: -7.5px;
    left: -10px;
}
.all_products::before {
    top: -7.5px;
    right: -10px;
}
.all_products:hover::after {
    transform: translateX(-30px);
    background-color: var(--brown);
}
.all_products:hover::before {
    transform: translateX(30px);
    background-color: var(--brown);
}
/*********** FOR THE ABOUT PAGE *****/
.location {
    background-color: var(--brown-pop);
    padding: 40px var(--padleftright);
}
.locate {
    font-family: var(--amm);
    color: var(--brown-popi);
    letter-spacing: 10px;
}
.writeup {
    margin: 20px auto;
    color: var(--brown-sat);
    font-family: var(--amr);
    width: 60%;
    font-size: 20px;
}
/*********** FOR THE PRODUCT PAGE *******/
section[data-id = "display_products"] {
    width: 100%;
    min-height: 300px;
    padding: 20px var(--padleftright);
    display: grid;
    grid-template-columns: 200px 3fr;
    gap: 20px;
    position: relative;
    margin-top: 50px;
}
.search {
    padding: 10px;
    border-radius: 10px;
    box-shadow: -1px -1px 0 var(--brown-lite), 2px 2px 0 var(--brown-trans);
}
input[name = "search"] {
    border: none;
    outline: none;
    padding: 5px;
    font-family: var(--amm);
    background-color: var(--trans);
    border-radius: 5px;
    color: var(--brown-pop);
}
.searching::placeholder {
    color: var(--brown-popi);
}
.brand {
    margin-top: 10px;
    list-style: none;
}
.brand_title, .price_title {
    font-family: var(--amm);
    color: var(--brown);
    text-align: center;
}
.brand_name {
    font-family: var(--amm);
    text-align: center;
    cursor: pointer;
    color: var(--brown-sat);
    transition: .5s;
}
.brand_name:hover {
    color: white;
    background-color: black;
}
.range {
    margin-top: 10px;
}
.low_price, .high_price {
    text-align: center;
    display: block;
    font-family: var(--amm);
    color: var(--brown-sat);
}
.price_block {
    margin: 20px auto;
    position: relative;
}
input[type = "range"] {
    width: 100%;
    appearance: none;
    display: grid;
    place-items: center;
    cursor: ew-resize;
}
input[type = "range"]::-webkit-slider-runnable-track {
    background-color: var(--brown-popi);
    height: 5px;
    border-radius: 4px;
    overflow: hidden;
}
input[type = "range"]::-webkit-slider-thumb {
    appearance: none;
    background-color: var(--brown);
    filter: drop-shadow(0 200px var(--brown-pop));
    width: 20px;
    height: 20px;
}
.current_price {
    min-width: 30px;
    min-height: 30px;
    background-color: var(--brown);
    position: absolute;
    top: -50px;
    transform: rotate(45deg);
    border-radius: 50% 50% 0 50%;
    border: white 1px solid;
    visibility: hidden;
    transition: .7s;
}
.price_num {
    transform: rotate(-45deg);
    display: block;
    color: var(--brown-pop);
    font-family: var(--amr);
    padding: 5px;
}
.showcase_for_products {
    width: 100%;
    min-height: 400px;
    position: relative;
}
.prod_image {
    top: 0;
    position: absolute;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
    transition: .3s;
    border-radius: 0 50% 50% 0;
}
.prod_image::after, .prod_image::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    opacity: 1;
    z-index: 2;
    background-size: cover;
    transition: .7s;

}
.prod_image:hover:after {
    transform: translate(100%);
}
.prod_image:hover::before {
    transform: translate(-100%);
    transition-delay: .5s;
}
.prod_image::after {
    right: 0;
    top: 0;
    background-position-x: 74%;
}
.prod_image::before {
    background-position-x: 0%;
    left: 0;
    top: 0;
}
.prod_image img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    /* opacity: .4; */
}
.first_image::after, .first_image::before {
    background-image: url(images/product-1.jpeg);
}
.second_image::after, .second_image::before {
    background-image: url(images/product-2.jpg);
}
.third_image::after, .third_image::before {
    background-image: url(images/product-5.jpg);
}
.fourth_image::after, .fourth_image::before {
    background-image: url(images/desktop-image-hero-1.jpg);
}
.operations {
    background-color: black;
    position: absolute;
    z-index: 5;
    width: 30px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.prev {
    left: 0;
}
.next {
    right: 0;
}
/********** scroll bar ****/
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: var(--brown);
    border-radius: 5px;
}
::-webkit-scrollbar-track:hover {
    background-color: var(--brown-sat);
}
::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: var(--brown-pop);
    border-radius: 5px;
    border: solid 1px var(--brown);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--brown-popi);
    border-color: var(--brown-sat);
}
/****** SITLL CLASSES ****/
.scaleone {
    transform: scale(1);
    width: 400px;
    left: 100px;
    z-index: 4;
    border-radius: 10px;
}
.scaletwo {
    transform: scale(.8);
    width: 300px;
    left: 450px;
    z-index: 3;
}
.scalethree {
    transform: scale(.7);
    width: 200px;
    left: 650px;
    z-index: 2;
}
.scalefour {
    transition: 0s;
    transform: scale(.6);
    width: 100px;
    left: 800px;
    z-index: 1;
}
/********* MY MEDIA QUERY ******/
@media screen and (max-width: 768px) {
    .operations {
        display: none;
    }
    .writeup {
        width: 90%;
    }
    .location {
        padding: 5px 20px;
    }
    .locate {
        letter-spacing: 3px;
    }
    img[data-id = "closemenu"] {
        display: block;
    }
    .prod {
        width: 100%;
        height: auto;
        border-radius: unset;
        margin-bottom: 60px;
    }
    .prod_display {
        display: block;
        grid-template-columns: unset;
    }
    .feat_title, .about_title {
        font-size: 5vw;
    }
    .featured, .about {
        padding: 20px;
    }
    .shop_now:hover {
        color: var(--brown-lite);
    }
    .slogan {
        font-size: 15px;
    }
    .intro_title {
        font-size: 7vw;
        animation-direction: reverse;
        -webkit-text-stroke-color: rgba(255, 255, 255, 0.507);
        background-image: url(images/arrowbg2-removebg-preview.png);
    }
    .intro {
        padding: 0 20px;
    }
    .cart_con {
        margin-left: unset;
    }
    .master {
        padding: 0 20px;
        justify-content: space-between;
    }
    .master_title {
        width: auto;
        font-size: 10vw;
    }
    .popmenu {
        display: block;
        width: 50px;
        height: 30px;
        background-color: var(--brown-sat);
        display: grid;
        place-items: center;
        padding: 5px;
        border-radius: 20px;
        cursor: pointer;
        transition: .5s;
    }
    .popmenu:hover {
        transform: scale(.97);
        box-shadow: -5px -5px 5px var(--trans),
         inset -5px -5px 5px var(--trans);
    }
    .popmenu img {
        width: 50%;
        height: 100%;
        filter: invert(100%)
        sepia(100%)
        saturate(1%)
        hue-rotate(237deg)
        brightness(2005%)
        contrast(101%)
    }
    .compass {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--trans);
        width: 100%;
        height: 100vh;
        z-index: -5;
        display: grid;
        place-items: center;
        visibility: hidden;
        transition: .7s .3s;
        transform: translateY(100px);
    }
    .co-ordinates {
        background-color: rgba(255, 255, 255, 0.116);
        backdrop-filter: blur(15px) saturate(400%);
        background-clip: padding-box;
        border: 10px transparent dashed;
        padding: 10px;
        flex-flow: wrap column;
        width: 90%;
        height: 95vh;
        border-radius: 20px;
        justify-content: start;
    }
    .co-ordinates img {
        width: 5vw;
        cursor: pointer;
        filter: invert(100%)
        sepia(100%)
        saturate(1%)
        hue-rotate(237deg)
        brightness(2005%)
        contrast(101%)
    }
    .point a {
        color: rgba(255, 255, 255, 0.5);
        text-shadow: 0 0 5px black;
    }
    .point a:active {
        color: var(--brown-lite);
        text-shadow: 0 0 5px var(--brown-lite) ;
    }
    .wrap {
        background-image: linear-gradient(var(--trans), var(--trans)),url(images/comfy2.jpg);
        background-size: cover;
    }
    section[data-id = "display_products"] {
        padding: 0 20px;
        margin-top: 20px;
        grid-template-columns: 1fr;
    }
    .search {
        padding: 20px;
    }
    input[name = "search"] {
        width: 100%;
        font-size: 20px;
        text-align: center;
        padding: 0 15px;
    }
    .price_block {
        width: 70%;
    }
    .prod_image {
        border-radius: 20px;
        width: 100%;
        /* transform: scale(1); */
        left: 0;
        cursor: none;
    }
    .scaleone {
        left: 0;
        cursor: pointer;
    }
    .scaletwo {
        top: 60px;
    }
    .scalethree {
        top: 100px;
    }
    .scalefour {
        top: 130px;
    }
}
/********** CLASSES */
.show_prod_detail {
    bottom: -50px;
    visibility: visible;
}
.show_compass {
    z-index: 10;
    visibility: visible;
    transform: translateY(0);
}
.hide {
    display: none;
}
.show {
    visibility: visible;
}
.showhidden {
    width: 100%;
    height: auto;
    overflow: visible;
}
